@page "/rank"
@using FriendsTracker.Components.Pages;

<button class="btn btn-primary" @onclick="@updateMongoRanksAsync">Force Update</button>
<p
    style="padding-left: 5px; display: inline; color:rgb(167, 167, 167); font-family: Rajdhani; font-weight: 700; font-size: 1.3em">
    Updated @timeSinceLastUpdated
</p>
<div class="card_container">
    <div class="card">
        Ranks
        @if (_isLoading)
        {
            <div class="ring-container">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        }
        else
        {
            @foreach (var player in rankList)
            {
                @* var link = $"https://tracker.gg/valorant/profile/riot/{@player.Data.Name}%23{@player.Data.Tag}/overview"; *@
                var link = $"/matches/{player.Data.Puuid.ToString()}";
                suffix = "";
                @if (player.Data.Name == "ads")
                {
                    suffix = " (Perez)";
                }
                @if (player.Data.Name == "VGB")
                {
                    suffix = " (Augdog)";
                }
                <div class="player">
                    <a class="player_name" href=@link>@(player.Data.Name + @suffix)</a>
                    <img class="rank_icon" src=@player.Data.CurrentData.Images.Small.ToString()>
                    <p class="rr_number">@player.Data.CurrentData.RankingInTier RR</p>
                </div>
            }
        }

    </div>
    <div class="card">
        Cool Kids
        @if (_isLoading)
        {
            <div class="ring-container">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        }
        else
        {
            @foreach (var player in rankListNoah)
            {
                var link = $"https://tracker.gg/valorant/profile/riot/{@player.Data.Name}%23{@player.Data.Tag}/overview";
                <div class="player">
                    <a class="player_name" target="_blank" href=@link>@(player.Data.Name)</a>
                    <img class="rank_icon" src=@player.Data.CurrentData.Images.Small.ToString()>
                    <p class="rr_number">@player.Data.CurrentData.RankingInTier RR</p>
                </div>

            }
        }

    </div>
    @* <div class="card">
    Card 3
    </div> *@
</div>